[Unit]
Description=Sinatra application

[Service]
User=root
WorkingDirectory=/app
EnvironmentFile=/app/.env
ExecStart=/root/.rbenv/shims/ruby main.rb
Restart=on-failure

[Install]
WantedBy=multi-user.target