<table border="1">
    <thead>
        <th>nama hashtag</th>
        <th>link</th>
    </thead>
    <tbody>
    <tr>
        <td><%= tag.hashtag %></td>
        <td><a href="/hashtag/<%= tag.id %>" title="Hashtag <%= tag.id %>">Show</a></td>
    </tr>
    </tbody>
</table>
<br/>